[submodule "libraries/coreMQTT/coreMQTT"]
	path = libraries/coreMQTT/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
[submodule "libraries/coreMQTT-Agent/coreMQTT-Agent"]
	path = libraries/coreMQTT-Agent/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
