*.o

# Example project files
examples/**/sdkconfig
examples/**/sdkconfig*
examples/**/sdkconfig.old
examples/**/build
examples/**/managed_components
examples/**/tmp
examples/**/.vscode
examples/**/**/certs*
**/examples/.DS_Store
**/.DS_Store
.DS_Store